$("#notice_wrapper").show();
$('#notice_wrapper').append("<p class='notice'><%= notice %> </p>");

setTimeout(function() {
    $("#notice_wrapper, #error_wrapper").fadeOut('slow').empty();
}, 4000);


$('#strategy_list').load(document.URL +  ' #strategy_list_x', function(){ effectLoad()} );
