<div class="box box-primary">
   <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
   </div>
   <!-- /.box-header -->
   <!-- form start -->
       <div class="box-body">
       <%= render 'form' %>
       </div>
</div>
<!-- /.box -->

<i class="fa fa-long-arrow-left"></i> <%= link_to 'Back', users_path %>