<div class="modal fade" id="dialog" tabindex="-1" role="dialog" 
           aria-labelledby="myModalLabel"
           aria-hidden="true" 
           data-backdrop="static" 
           data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close text-red" data-dismiss="modal" aria-hidden="true"><i class="fa fa-fw fa-times"></i></button>
        <h3 class="modal-title text-blue"></h3>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>