<%= form_for(@client, remote: true, authenticity_token: true, url: {controller: "clients", action: "create_notes"}, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

      <div class="form-group">
         <%= f.label :notes, "What's on your mind?" %> 
         <%= f.text_area :notes, class: 'form-control', rows: '5' %>
      </div>

      
  <div class="actions">

     <%= f.button "Create Note", :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> Please wait..."} %>
  
  </div>
<% end %>
