<!--<div class="box box-primary">-->
<!--   <div class="box-header with-border">-->
<!--      <h3 class="box-title">Update <i><b><%#= @client.name %>'s</b></i> Info</h3>-->
<!--   </div>-->
   <!-- /.box-header -->
   <!-- form start -->
<!--    <div class="box-body">-->
<!--        <%#= render 'form' %>-->
<!--    </div>-->
<!--</div>-->
<!-- /.box -->
<!--<%#= link_to 'Show', @client %> |-->
<!--<%#= link_to 'Back', client_path %>-->
