<section class="content">
    <div class="error_page">
        <h3 class="title_500">500</h3>
        <span class="line_1_500">Internal Server Error!</span>
        <br />
        <span class="line_2_500">There is a problem with the resource you are looking for, and it cannot be displayed. <br>Don't worry, We will work on fixing this right away. </span>
    </div>

</section>
