<section class="content">
    <div class="error_page">
        <div id="wrap_404">
        <h3 class="title_404">404</h3>
        <span class="line_1_404">Opps, sorry we can't find your request!</span>
        <br />
        <span class="line_2_404">Either something went wrong or it doesn't exist anymore.</span>
        </div>
    </div>

</section>

